<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="assets/styles/main.css">
</head>

<body>
    <div ng-controller="MainController">
        <span># of Cards:</span>
        <button class="card-adder" ng-click="addCard(-1)">-</button>
        <span>{{numCards}}</span>
        <button class="card-adder" ng-click="addCard(1)">+</button>
        <div class="category-container" ng-repeat="category in categories">
            <img class="category-icon" src="assets/images/{{category.name}}.png"/>
            <span ng-repeat="id in category.selected">
                <span ng-if="!$first">&nbsp;-&nbsp;</span>
                {{id}}
            </span>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>